<div class="col-md-12 popular-files-widget well">
	<div ng-if="expertUsers.length != 0">
		<span>There are {{expertUsers.length}} experts in this file:</span>
		<table class="sidebar-table">
			<tr ng-repeat="user in expertUsers" data-spy="affix">
				<td>
					<a href="/users/{{user.user.id}}">{{user.user.name}}</a>
				</td>
				<td>
					<span style="float:right">{{user.knowledge | percent}}%</span>
				</td>
			</tr>
		</table>
	</div>
	<div ng-if="expertUsers.length == 0">
		There are no expert users found for this file.
	</div>
</div>
