#profile-pic {
	float:left;
	border:5px solid;
	border-radius:25px;
}

.text-large {
	font-size:40px;
}

.text-medium {
	font-size:24px;
}

.text-small {
	font-size:18px;
}

#email {
	margin-left:265px;
}

#name {
	margin-left:265px;
}

#expert-list {
	margin-left:265px;
}
