@(filename : String)
<!doctype html>
<html ng-app="frostbite">
  <link href="@routes.Assets.at("stylesheets/directorieslistview.css")" rel="stylesheet">	
  <link href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")" rel="stylesheet">
  <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

  <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/angular-1.2.1/angular.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/angular-1.2.1/angular-resource.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/listview.js")" type="text/javascript"></script>

  <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/directories.js")" type="text/javascript"></script>

<div frostbite-header></div>


<body ng-controller="DirecCtrl" ng-init="setFilename(@filename)">
  <article>
    <div class="container">
      <div breadcrumbs></div>

<ul class="list-group">
  <li href="#" class="list-group-item"
      ng-repeat="item in items" class="item" id="item">
	<div id="container">
	<div id="left">
        <img ng-src="{{item | isDirectory }}" alt="" width="24" height="24">
        <a id="filename" href="/directory/{{item.path}}">{{item.name}}</a>
	</div>

	<div id="right"><a id="users" href="/users/{{item.path}}">{{item.currentUsers}}</a></div>
        <div id="center" title="Last viewed by {{item.users[0].name}}">{{item.editedlast.time | date:'short'}}</div>
	</div>
  </li>
</ul>
</body>

</html>
