@(name: String)
<!-- 
If Passing ID through:
    - change arguments to name: String, id: Option[Int]
    - add hidden input in form for id
-->

<html>
    <head>
        <title>Who Is Your Daddy DOT COM</title>
    </head>
    <body>
        Your daddy is:
        <h1>@name</h1>
        If this is incorrect, you can change it here:
        <form action="/example/form" method="POST">
            <input type="text" name="name" value="@name"><br/>
            <input type="submit"/>
        </form>
    </body>
</html>

