@(filestuff: String)
<!doctype html>
<html ng-app="frostbite">
	<link href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")" rel="stylesheet">
	<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-1.2.1/angular.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/angular-1.2.1/angular-resource.js")" type="text/javascript"></script>
    
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.11.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/listview.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/Chart.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/file.js")" type="text/javascript"></script>

	<!-- Include required JS files -->
	<script src="@routes.Assets.at("javascripts/syntax-highlighter/shCore.js")" type="text/javascript"></script>

	<!--
		At least one brush, here we choose JS. You need to include a brush for every 
		language you want to highlight
	-->
	<script src="@routes.Assets.at("javascripts/syntax-highlighter/shBrushJScript.js")" type="text/javascript"></script>

	<!-- Include *at least* the core style and default theme -->
	<link href="@routes.Assets.at("stylesheets/shCore.css")" rel="stylesheet">
	<link href="@routes.Assets.at("stylesheets/shThemeDefault.css")" rel="stylesheet">

	<!-- You also need to add some content to highlight, but that is covered elsewhere. -->
	<div frostbite-header></div>
	<body ng-controller="FileCtrl" ng-init="setFileContents(@filestuff)">
		<article class="container">
			<div breadcrumbs></div>

			<div class="row widget-holder">

			</div>

			<div class="file-viewer" ng-show="showFile">
				<div>
					<pre id="file_brush" class="brush: js">
					</pre>
				</div>
			</div>
		</article>
	</body>
	<!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
</html>
